.sign-in {
  width: 40%;
  display: flex;
  flex-direction: column;

  .sub-title {
    font-size: 1.05vw;
    letter-spacing: 1px;
  }

  .title {
    padding: 10px 0px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .custom-button {
    font-size: 14px;
  }
}
