.sign-up {
  display: flex;
  flex-direction: column;
  width: 40%;

  .sub-title {
    font-size: 1.05vw;
    letter-spacing: 1px;
  }

  .title {
    margin: 10px 0;
  }

  .custom-button {
    font-size: 14px;
  }
}
